.aboutme {
    color: black;
    .center-content {
        position: relative;
        overflow: hidden;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    #about-image {
        width: 40%;
        border-radius: 2px;
        padding-right: 3vh;
        float: left;
        height: auto;
    }
    #about-text {
        h2 { font-size: 4vh; }
        p {
            font-size: 1.8vh;
            margin-block-end: 0.6em;
            margin-block-start: 0.6em;
            line-height: 1.1;
        }
        p span { 
            font-size: 2.1vh;
            margin-block-start: 1em;
            margin-block-end: 1em;
        }
        a {
            color: #d87443;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
@media (max-width: 1080px) {
    .aboutme #about-image, .aboutme #about-text { 
        float: none;
        width: 100%; 
    }
    .aboutme #about-image {
        position: relative;
    }
}
@media (max-width: 720px) {
    .aboutme p span {
        font-size: 18px !important;
    }
}