html {
    font-family: -apple-system, 'Red Hat Display', sans-serif;
}
.center-content {
    width: 65%;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6, p {
    margin-block-end: 0;
    margin-block-start: 0;
    letter-spacing: 1px;
}
@media (min-width: 1421px) {
    .center-content { width: 65%; }
}
@media (max-width: 1420px) {
    .center-content {
        margin-right: 9%;
        margin-left: auto;
    }
}
@media (max-width: 975px) {
    .center-content {
        width: 80%;
        margin: 0 auto;
    }
}
@media (max-width: 720px) {
    p {
        font-size: 16px !important;
    }
    li {
        font-size: 14px !important;
    }
    .center-content { 
        width: 95%;
    }
}